@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  background-color: #f4f6f9;
  font-family: 'Inter', sans-serif;
}